a {
    text-decoration: none !important;
    color: #212832 !important;
}

a:hover {
    color: #309255 !important;
    /* font-weight: bold; */
}

.theme-wrapper.dark-mode .footer-dark {
    background-color: gray !important;
    color: white !important;
}

.theme-wrapper.dark-mode .footer-dark a {
    color: white !important;
}

.theme-wrapper.dark-mode .footer-dark .text-success {
    color: white !important;
}

ul {
    list-style: none;
}

.widget-logo {
    width: 200px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 25px;
}

.widget-logo img {
    width: 100%;
}

.footer-ul ul li {
    padding: 5px;
    margin-top: 5px;
}

.theme-wrapper.dark-mode .footer-ul ul li a {
    color: white !important;
}

.social-icons li {
    padding: 0px 10px;
}

.theme-wrapper.dark-mode .social-icons li {
    color: white !important;
}